{% extends "base.html" %}
{% block title %}
  {% if is_edit %}
  Редактировать пост
  {% else %}
  Новый пост
  {% endif %}
{% endblock %}
{% block content %}
{% load user_filters %}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">       
        {% if is_edit %}
        Редактировать пост
        {% else %}
        Новый пост
        {% endif %}         
      </div>
      <div class="card-body">
      {% include 'includes/form_error.html' %}
        <form method="post" enctype="multipart/form-data"
          {% if is_edit %} action="{% url 'posts:post_edit' post_id %}"
          {% else %} action="{% url 'posts:post_create' %}" {% endif %} >
          {% csrf_token %}
          {% for field in form %}
            {% include 'includes/form.html' %}
          {% endfor %}
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">
              {% if is_edit %}
              Добавить
              {% else %}
              Сохранить
              {% endif %}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}